html body{
  background:#5D7BEA;
}
html body .page-hero
h3{
  font-size:5px;
  font-weight:bold;
  text-shadow:-1px -1px 1px #460000,2px 2px 1px
   #5D7BEA;
   text-transform:uppercase;
   color:#5D7BEA ;
 }
h1{
  font-style: italic;
  color: #fff;
  font-weight: lighter;
  .header
  padding: 60px;
  text-align: center;
  background: #A5B6F3;
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
}
   html body .page-hero p {
     color:#A6B5F2;
     }html body

 .btn-danger{
  background: #8199EE;
}
.bg-danger{
  background: #5D7BEA !important;
}
.alert-danger{
  background: #5D7BEA !important;
}
   .card{
     overflow:hidden
     }html body

   .card-header{
      background:#A6B5F2;
       color:#fff
     }html body


   .card-header .prevMonth{
     cursor:pointer
     }html body

   .card-header .nextMonth {
     cursor:pointer
     }html body

   .card-body {
     background:#B7C4F5;
     }html body

   .card-body .days span {
     background:#8199EE;
     color:#fff;
     border-radius:10%;
     display:inline-block;
     height:60px;
     width:60px;
     line-height:50px;
     cursor:pointer
     }html body

   .card-body .days span:hover {
     background:#99A3C2;
     }html body

   .card-body .dates span{
     background:#93A7F0;
     color:#000;
     border-radius:10%;
     display:inline-block;
     height:45px;
     width:45px;
     line-height:50px;
     cursor:pointer
     }html body

   .card-body .dates span.active,html body

   .card-body .dates span:hover {
     background:#fff;
     color:#000
     }html body

   .card-body .dates span.ntMonth {
     color:#fff;
     background:#C9D3F8;
     }html body

   .card-body .dates span.ntMonth:hover {
     background:#fff;
     color:#000;
     }html body

  .card#event .card-header .close {
    color:#fff;
    opacity:1
    } html body .card#event

   .card-body .events-today{
      overflow-x:hidden
     }html body .card#event

   .card-body .events-input .data-invalid{
     border-color:red
     }html body .card#event

   .card-body .events-input .error{
     font-size:12px;
     color:red;
     position:absolute;
     top:100%
     }@media(max-width: 767px){
       html body .pa-sm{
         position:absolute}html body
     }
   .card-body .days span{
     height:65px;
     width:65px;
     line-height:38px;
     font-size:.8rem
     }html body

    .card-body .dates span{
     height:60px;
     width:60px;
     line-height:70px
     ;font-size:.8rem
     }html body
   .card#event .card-body .events-today{
     height:188px
   }
  .active::after {
   content: '•';
color: #f78536;
font-size: 1.4em;
position: absolute;
right: -4px;
top: -4px;
   }
   input,
   label {

   padding-left: 5rem;
    border-radius: 0.25rem;
    height: 40px;
    background: #93A7F0;
    color: #fff;
     display:inline-block;

   }
p {
  text-align: center;
  padding-top: 1.5rem;
}
